<!DOCTYPE html>
<html ng-app="gigaView">
  <head>
    <meta charset="utf-8">
    <title>GIGASPACES</title>

    <script src="/bower_components/angular/angular.js"></script>

    <script type="text/javascript" src="/bower_components/angular-tree-control/angular-tree-control.js"></script>
    <link rel="stylesheet" type="text/css" href="/bower_components/angular-tree-control/css/tree-control.css">

    <script type="text/javascript" src="/bower_components/ng-prettyjson/dist/ng-prettyjson.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/bower_components/ng-prettyjson/dist/ng-prettyjson.min.css">

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title">

    <script src="/app.js" charset="utf-8"></script>
  </head>
  <body ng-controller="ctrl">
    <div class="container">
      <h1>Gigaspaces Assignment</h1>
      <div class="tree">
        <treecontrol class="tree-classic"
           tree-model="nodes"
           options="treeOptions"
           on-selection="showSelected(node)"
           selected-node="node1">
           ID: {{node.id}} | Name: {{node.name}} | {{ '{ ' + 'ID: ' + node.id + ', Name: "' + node.name + '" }'}}
        </treecontrol>
      </div>
      <div class="json">
        <pre pretty-json="selectedNode"  />
      </div>
    </div>
  </body>
</html>
